@model Room

@{
    ViewData["Title"] = "New";
    SelectList hotelList = new SelectList(ViewBag.Hotel, "id", "name");
}

@*<div class="row">
    <div class="col-md-4">
        <form asp-action="SaveNew" asp-controller="Room">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Type" class="control-label"></label>
              
                <select asp-for="Type">
                    <option value="Single">Single</option>
                    <option value="Double">Double</option>
                    <option value="Triple">Triple</option>
                </select>
                
            </div>
            <div class="form-group">
                <label asp-for="View" class="control-label"></label>
                <input asp-for="View" class="form-control" />
                <span asp-validation-for="View" class="text-danger"></span>
            </div>
            <label asp-for="HotelId">Hotel Name</label>
            <select asp-for="HotelId" class="form-control" asp-items="hotelList"></select>
            <span asp-validation-for="HotelId" class="text-danger"></span>
            <div class="form-group">
                <label asp-for="price" class="control-label"></label>
                <input asp-for="price" class="form-control" />
                <span asp-validation-for="price" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                
                    @Html.CheckBoxFor(m => m.IsHavingTv, new { @checked = "checked" })
                <label class="form-check-label" for="IsHavingTv">
                        IsHavingTv
                    </label>
                   
            </div>
            <div class="form-group form-check">
                @Html.CheckBoxFor(m => m.IsHavingAirconditioning, new { @checked = "checked" })
                <label class="form-check-label" for="IsHavingAirconditioning">
                    IsHavingAirconditioning
                    </label>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>*@

<body style="background-image:url(/image/room.jpg);height:auto;margin-top:100px">
    <div class="row" style="background-color:#97726a;width:465px;border-radius:25px;padding:25px;margin-left:50px;border: 3px solid white">
        <div class="col-md-4">
            <form asp-action="SaveNew" asp-controller="Room">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Type" class="control-label" style="font-size:20px;color:white;font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;float:left"></label>
                    <select asp-for="Type" style="width:150px">
                        <option value="Single">Single</option>
                        <option value="Double">Double</option>
                        <option value="Triple">Triple</option>
                    </select>

                </div>
                <div class="form-group" style="float:left; margin-top:10px">
                    <label asp-for="View" class="control-label" style="font-size:20px;color:white;font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif"></label>
                    <input asp-for="View" class="form-control" style="width:150px" />
                    <span asp-validation-for="View" class="text-danger"></span>
                </div>
                <div style="clear:both"></div>
                <label asp-for="HotelId" style="font-size:20px;color:white;font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif">Hotel Name</label>
                <select asp-for="HotelId" class="form-control" asp-items="hotelList" style="width:150px"></select>
                <span asp-validation-for="HotelId" class="text-danger"></span>
                <div class="form-group" style="margin-top:10px">
                    <label asp-for="price" class="control-label" style="font-size:20px;color:white;font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif"></label>
                    <input asp-for="price" class="form-control" style="width:150px" />
                    <span asp-validation-for="price" class="text-danger"></span>
                </div>
                <div class="form-check" style="width:300px">
                    <input id="Airconditioning" @Html.CheckBoxFor(m => m.IsHavingAirconditioning, new { @checked = "checked" })
                    <label class="form-check-label" for="Airconditioning" style="font-size:20px;color:white">
                        Air Conditioner
                    </label>
                </div>
                <div class="form-check">
                    <input id="IsHavingTv" @Html.CheckBoxFor(m => m.IsHavingTv, new { @checked = "checked" })
                    <label class="form-check-label" for="IsHavingTv" style="font-size:20px;color:white;">
                        Tv
                    </label>
                </div>
                <div class="form-group">
                    <input type="submit" value="Add Room" style="background-color:black;margin-top:10px;width:150px;height:60px;border-radius:25px;border:3px solid white;color:white ;font-size:20px;cursor:pointer" />
                </div>
            </form>
        </div>
    </div>
    <button style="background-color:black;margin-top:10px;width:150px;height:60px;border-radius:25px;border:3px solid white;color:white">
        <a href="/Hotel/index" style="color:white;font-size:20px">Back</a>
    </button>
</body>
