@{
}
<head>
    <link rel="stylesheet" href="/css/fiter.css">
</head>
<body>
    <nav>
        <div class="p-3" style="background-color:white;border:5px solid #342b1f;border-radius:25px;padding:20px">
            <h1><a asp-action="index" asp-controller="mainpage" class="logo" style="color:black">Royal Booking</a></h1>
            <div style="color:black">
                    <h6 >Advanced Search</h6>
                    <p >Stars</p>
                    <form>
                     
                        <div class="form-inline border rounded p-sm-2 ">
                            <input type="radio" name="type" id="oneStar" class="ml-2">
                            <label for="oneStar" class="pl-1 pt-sm-0 pt-1 " >1</label>
                        
                            <input type="radio" name="type" id="TwoStar" class="ml-2">
                            <label for="TwoStar" class="pl-1 pt-sm-0 pt-1">2</label>
                        
                       
                            <input type="radio" name="type" id="ThreeStar" class="ml-2">
                            <label for="ThreeStar" class="pl-1 pt-sm-0 pt-1 ">3</label>

                            <input type="radio" name="type" id="FourStar" class="ml-2">
                            <label for="FourStar" class="pl-1 pt-sm-0 pt-1 ">4</label>

                            <input type="radio" name="type" id="FiveStar" class="ml-2">
                            <label for="FiveStar" class="pl-1 pt-sm-0 pt-1 ">5</label>
                        </div>
                    </form>
                </div>
                <div style="color:black">
                    <h6>Entertainments</h6>
                    <form class="ml-md-2">
                        <div class="form-inline border rounded p-sm-2 my-2">
                            <input type="checkbox" class="form-check-input" id="checkB" name="option1" value="something" onchange='handleChange(this)'>
                        <label for="checkB" class="pl-1 pt-sm-0 pt-1">SwimmingBool</label>
                        </div>
                        <div class="form-inline border rounded p-sm-2 my-2">
                            <input type="checkbox" class="form-check-input" id="checkK" name="option1" value="something">
                        <label for="checkK" class="pl-1 pt-sm-0 pt-1">KidsArea</label>
                        </div>
                        <div class="form-inline border rounded p-md-2 p-sm-1">
                            <input type="checkbox" class="form-check-input" id="checkD" name="option1" value="something">
                        <label for="checkD" class="pl-1 pt-sm-0 pt-1">Disco</label>
                        </div>
                        <div class="form-inline border rounded p-sm-2 my-2">
                            <input type="checkbox" class="form-check-input" id="checkBB" name="option1" value="something" onchange='handleChange(this)'>
                        <label for="checkBB" class="pl-1 pt-sm-0 pt-1">Beach</label>
                        </div>
                        <div class="form-inline border rounded p-sm-2 my-2">
                            <input type="checkbox" class="form-check-input" id="checkA" name="option1" value="something">
                        <label for="checkA" class="pl-1 pt-sm-0 pt-1">Aqua Park</label>
                        </div>
                        <div class="form-inline border rounded p-sm-2 my-2">
                            <input type="checkbox" class="form-check-input" id="checkp" name="option1" value="something" onchange='handleChange(this)'>
                        <label for="checkp" class="pl-1 pt-sm-0 pt-1">Parking</label>
                        </div>
                        <div class="form-inline border rounded p-sm-2 my-2">
                            <input type="checkbox" class="form-check-input" id="checke" name="option1" value="something">
                        <label for="checke" class="pl-1 pt-sm-0 pt-1">Elevator</label>
                        </div>
                    </form>
@*                    <div>
                        <button type="submit" class="form-control submit w-50 d-flex justify-content-center align-content-center" style="background-color:pink;">Search</button>
                    </div>*@
                <button style="background-color:#342b1f;margin-top:10px;width:150px;height:60px;border-radius:25px;border:3px solid #342b1f;color:white">
                    Search
                </button>
                </div>
        </div>
    </nav>
</body>


@*		<ul class="list-unstyled components mb-5">
			<li class="active">
				<a href="#"><span class="fa fa-home mr-3"></span> Home</a>
			</li>
			<li>
				<a href="#"><span class="fa fa-user mr-3"></span> About</a>
			</li>
			<li>
				<a href="#"><span class="fa fa-plane mr-3"></span> Destination</a>
			</li>
			<li>
				<a href="#"><span class="fa fa-sticky-note mr-3"></span> Blog</a>
			</li>
			<li>
				<a href="#"><span class="fa fa-cogs mr-3"></span> Services</a>
			</li>
			<li>
				<a href="#"><span class="fa fa-paper-plane mr-3"></span> Contacts</a>
			</li>
		</ul>

		<div class="mb-5">
			<h3 class="h6 mb-3">Subscribe for newsletter</h3>
			<form action="#" class="subscribe-form">
				<div class="form-group d-flex">
					<div class="icon"><span class="icon-paper-plane"></span></div>
					<input type="text" class="form-control" placeholder="Enter Email Address">
				</div>
			</form>
		</div>

		<div class="footer">
			<p>
				Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="icon-heart" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib.com</a>
			</p>
		</div>*@
