@model City
@{
    ViewData["Title"] = "AllInCity";
}
<h1>Cancelled</h1>
<body class="img js-fullheight" style="background-image: url('/image/w.jpg');background-repeat: no-repeat;background-size:cover">
    <div style="margin:100px 0px 0px 60px;align-items:center">
        <div class="card" style="width: 20rem;float:left;margin-right:30px">
            <img src="/image/hotelone.jpg" class="card-img-top" alt="..." style="height:21rem">
            <div class="card-body">
                <h5 class="card-title">Hotels</h5>
                <a href="/All/Hotelss/@Model.Id" class="btn btn-primary stretched-link">Details</a>
            </div>
        </div>‏
       
        <div style="clear:both"></div>
        <br />
        <br />
        <a href="/MainPage/index" class="btn btn-success">Back</a>
    </div>
</body>

